@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your CSS file */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: "montserrat";

}


.container {
  
  height: 90vh;
  padding: 20px;
  max-width: 1200px; 
}

.content {
  flex: 1;
  background-color: #fff;
  padding: 30px 50px;
  overflow-y: auto;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.content header h1 {
  font-size: 24px;
  color: #333;
}



/* Logs Styling */
.container {
  display: flex;
  font-family: Arial, sans-serif;
}

/* .sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f5f5f5;
} */

.content {
  flex: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.logs {
  position: relative;
  padding-left: 30px; /* Space for the vertical line */
}

.log-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.log-item:last-child {
  margin-bottom: 0;
}


.time {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  color: #000;
  min-width: 60px;
}

.log-item:last-child::before {
  height: 0; 
}

.circle {
  width: 12px;
  height: 12px;
  background-color: orange;
  border-radius: 50%;
  margin-left: -6px; 
  z-index: 1;
}

.circle::before {
  content: "";
  position: absolute;
  top: 100%; 
  left: 7.4%; 
  transform: translateX(-50%); 
  width: .15px; 
  height: 20px; 
  background-color: #686565; 
}

/* .log-item::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #e0e0e0;
} */





.user {
  font-weight: normal;
  color: #000;
}

.action {
  font-weight: bold;
  margin-left: 5px;
  color: #040202;
}
.actionTypes {
  color: #000;
  font-weight: bold;
}

.details {
  margin-left: 10px;
  font-size: 14px;
  color: #040202;
}


/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
