.button-icon {
    height: 16px;
    width:  auto;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 8px 14px;

    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;

}