/* Container for page */

.container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.whiteBox{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



/* Navbar container style */
.navBar {
    display: flex;   
    background-color: white; 
    width: 100%;
    width: 100%;
   
}


/* Tab style for navigation */
.navTab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}


/* Active tab style */
.navTab.active {
    background-color: white;
    /* Raised effect for active tab */
    transform: translateY(-5px); /* Raised effect */
}


/* Hover effect for inactive tabs */
.navTab:not(.active):hover {
    background-color: #e0e0e0;
    transform: translateY(-2px); /* Slight raise on hover */
}


/* Content inside the white box */
.content {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    height: 100%;;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


/* Styling for the tab content */
.tabContent {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}


/* Styling for text fields */
.textField {
    width: 100%;
   
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.queryTextField {
    height: 200px; /* Larger height for the query text field */
}


/* Buttons */
.button {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}


.button.clear {
    background-color: #ff4d4d;
    color: white;
}


.button.save {
    background-color: #28a745;
    color: white;
}


.button:hover {
    opacity: 0.8;
}


/* src/styles/globals.css */

/* Global reset for padding and margin */
